.container_editor_post {
	margin-block: 10px 20px;
}

.formatting_btns {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-bottom: 15px;
}

.comment_like_btn {
	padding: 8px 15px;
	color: #fff;
	border: none;
	font-size: 16px;
	border-radius: 8px;
	background-color: #0089ff;
	cursor: pointer;
	transition: all 0.3s ease;
	border: 1px #0089ff solid;

	&:hover {
		background-color: transparent;
		color: #0c6fc5;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px rgba(128, 145, 160, 0.5);
	}
}

.comment_like_btn_active {
	padding: 8px 15px;
	color: #0089ff;
	border: none;
	font-size: 16px;
	border-radius: 8px;
	background-color: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
	border: 1px #0089ff solid;

	&:hover {
		background-color: #0c6fc5;
		color: #fff;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px rgba(128, 145, 160, 0.5);
	}
}

.comment_reply_btn {
	padding: 8px 15px;
	color: #fff;
	border: none;
	font-size: 16px;
	border-radius: 8px;
	background-color: #0089ff;
	cursor: pointer;
	transition: all 0.3s ease;
	border: 1px #0089ff solid;

	&:hover {
		background-color: transparent;
		color: #0c6fc5;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px rgba(128, 145, 160, 0.5);
	}
}

.comment_delete_btn {
	padding: 8px 15px;
	color: #fff;
	border: none;
	font-size: 16px;
	border-radius: 8px;
	background-color: #e70810;
	cursor: pointer;
	transition: all 0.3s ease;
	border: 1px #e70810 solid;

	&:hover {
		background-color: transparent;
		color: #9f181c;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px rgba(128, 145, 160, 0.5);
	}
}

.comment_created_at {
	font-size: 14px;
	margin-left: auto;
	color: #00000099;
}