.container {
	background-color: #fff;
	min-height: 500px;
	max-width: 671px;
	margin: 80px auto auto;
	border-radius: 15px;
	box-shadow: 0px 30px 60px 0px #02507c26;
}

.container_inner {
	padding: 30px;
}

.container_inner_title {
	font-size: 28px;
	font-weight: 600;
}

.visualizer_container {
	position: relative;
  height: 500px;
  overflow-y: auto;
	margin-top: 40px;
}

.visualizer_inner {
	position: relative;
	height: 100px;
	overflow: auto;
}

.loader {
	font-size: 60px;
}

.comment_block {
	position: relative;
  z-index: 1; 
  background: white;
  margin-bottom: 30px;
  border-radius: 8px;
}